.timeblock {
    border: 2px;
    border-style: solid;
    float: left;
} 

.saveEntry {
    float: left; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    border: 2px;
    border-style: solid;
    float: left;
} 

.hour {
    float: left; 
    border: 2px;
    border-style: solid;
    float: left; 
    border-left: none;
} 

textarea {
    resize: none; 
    border: none;
} 

.saveIcon { 
 align-items: right;
}